#Dirs
.idea/
.vs/
.vscode/
bin/
__pycache__/

#Files
*.vcxproj*
*.csproj
*.exe
*.log
*.sln
OakProfile-*

#Scripts
OakEd/Resources/Scripts/

#Sandbox project
OakEd/SandboxProject/Assets/Scripts/Binaries
OakEd/SandboxProject/Assets/Scripts/Intermediates
