[submodule "Oak/Thridparty/spdlog"]
	path = Oak/Thridparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Oak/Thridparty/glfw"]
	path = Oak/Thridparty/glfw
	url = https://github.com/Drockk/glfw.git
[submodule "Oak/Thridparty/box2d"]
	path = Oak/Thridparty/box2d
	url = https://github.com/Drockk/box2d
[submodule "Oak/Thridparty/imgui"]
	path = Oak/Thridparty/imgui
	url = https://github.com/Drockk/imgui
[submodule "Oak/Thridparty/yaml-cpp"]
	path = Oak/Thridparty/yaml-cpp
	url = https://github.com/Drockk/yaml-cpp
[submodule "Oak/Thridparty/msdf-atlas-gen"]
	path = Oak/Thridparty/msdf-atlas-gen
	url = https://github.com/Drockk/msdf-atlas-gen.git
[submodule "Oak/Thridparty/msdf-atlas-gen/msdfgen/"]
	url = https://github.com/Drockk/msdfgen.git
[submodule "Oak/Thridparty/freetype"]
	path = Oak/Thridparty/freetype
	url = https://github.com/Drockk/freetype.git
[submodule "Oak/Thridparty/glm"]
	path = Oak/Thridparty/glm
	url = https://github.com/g-truc/glm.git
