# Binaries
bin/*

#Oak files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
Oak/vendor/VulkanSDK
OakEd/assets/cache
scripts/__pycache__
